@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #238d9b;
  --secondary: #46d1db;
  --foreground: #060f0f;
  --background: #e7e7e7;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #46d1db;
    --secondary: #238d9b;
    --foreground: #238d9b;
    --background: #1a1a1a;
  }
}

.hero-gradient {
  background: linear-gradient(45deg, #238d9b, #46d1db);
}

.btn-gradient {
  background: linear-gradient(45deg, #238d9b, #46d1db);
  font-weight: bold !important;
  color: white !important;
}

.nn-gradient {
  background: linear-gradient(45deg, #238d9b, #46d1db);
}

.text-gradient {
  background: linear-gradient(45deg, #238d9b, #46d1db);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Hide the nextjs-portal element */
nextjs-portal {
  display: none;
}